:host {
  display: block;
  height: 2rem;
  margin-top: 1rem;
}

sq-icon {
  position: relative;
  top: 1px;
}

.bread-crumbs {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.95rem;
  line-height: 1;
  letter-spacing: .5px;
  font-weight: 300;

  .bread-crumb {
    display: inline-flex;
    align-items: center;
    gap: 0.45rem;
    color: var(--link-color);
    transition: color .2s ease;

    &.current {
      color: var(--accent-color);
      font-weight: 400;
      letter-spacing: 1px;
      cursor: default;
    }
  }

  a.bread-crumb {
    &:hover {
      color: var(--active-color);
    }
  }

  .separator {
    color: var(--accent-color);
    font-size: 1.1rem;
  }
}
